.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}
  
.carousel-item {
    width: 100%;
    display: inline-block;
}

@media (max-width: 539.98) {
    .carousel {
        height: 200px;
    }
    .carousel-caption {
        top: 20px;
        font-size: 12px;

    }
}
  
@media (min-width: 540px) and (max-width: 919.98px) {
    .carousel {
        height: 300px;
    }
    .carousel-caption {
        top: 150px;
        font-size: 18px;
    }
}
  
@media (min-width: 920px){
    .carousel {
        height: 400px;
    }
    .carousel-caption {
        top: 250px;
        font-size: 24px;

    }
}